html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100vh;
  background-color: "#ffffff";
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
.primary {
  background-color: #196096;
}
.secondary {
  background-color: #D5C7E8;
}
