html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
.primary {
  background-color: #90a8c3;
}
.secondary {
  background-color: #896BBC;
}